.navbar {
  padding: 0.5em 0rem;
  display: flex;

  &-logo {
    display: flex;
    height: 50px;
    img {
      @include circle(50px);
      margin-right: 10px;
    }
  }

  &-burger {
    margin-left: auto;
    font-size: 1.7rem;
    @include flex-center();
  }
}
